* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(240, 240, 240);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-user-select: none;
  user-select: none;
}

header,
main,
footer {
  width: 100%;
  padding: 1rem 0;
}

section {
}

h1 {
  font-size: 40px;
  text-align: center;
}

h1,
h2 {
  font-weight: bold;
}

h1,
h2,
h3,
p, 
hr {
  margin-bottom: 1rem;
}

p {
  color: rgb(56, 56, 56);
}

/* order list */
ol{
  padding-left: 2rem;
}

a{
  transition: all 0.1s ease-in-out;
}

a:hover{
    font-weight: bold;
}

a:visited{
  color: blue;
}

/* page wrapper */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1024px;
  margin: auto;
  padding: 1rem;
}

.wrapper main {
  flex: 1;
}